:root {
    --beg: #030303;
    --putih: #fff;
    --grey1: #FFFFFFBF;
    --grey2: #8080809F;
    --grey3: rgba(128, 128, 128, 0.5);
    --grey5: rgba(128, 128, 128, 0.25);
    --grey6: rgba(128, 128, 128, 0.08);
    --null: #fe000054;

}

@media only screen and (max-width: 767px) {
    /*     html {
        font-size: 16px;
    } */

    p {
        font-family: 'Helvetica Now Display';
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.16px;
        margin: 0px;

    }


    h1 {

        font-family: 'Helvetica Now Display';
        font-size: 19px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.285px;


        margin: 0px;

    }

    h2 {
        font-family: 'Helvetica Now Display';
        font-size: 25px;
        line-height: 26px;
        margin: 0px;
    }

    h3 {

        font-family: 'Helvetica Now Display';
        font-size: 31px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.62px;
        margin: 0px;
    }


    h4 {
        font-family: 'Helvetica Now Display';
        font-size: 33px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.122px;
        margin: 0px;
    }

    h5 {
        font-family: 'Helvetica Now Display';
        font-size: 3rem;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        margin: 0px;

    }

    h6 {

        font-family: 'Helvetica Now Display';
        font-size: 61px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.03em;


        margin: 0px;
    }

    p small {
        font-family: 'Helvetica Now Display';
        font-size: 54px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -1.62px;
        margin: 0px;
    }


    /* general */

    body {
        background-color: var(--beg);
        margin: 0 auto;
        overflow-x: hidden;
        position: 0px
    }


    .container {
        width: 90vw;

    }


    section {
        overflow-x: hidden;
    }

    /* End general */



    .menu-halaman {
        display: none;
    }

    .menu-kiri {
        display: none;
    }

    .menu-about a {
        display: none;
    }

    /* Nav */
    nav .my-logo {
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.4px;
    }

    .logo-nav img {
        width: 26px;
    }

    /* End Nav */




    /* Hero */
    .hero1 {
        height: 100vh;
    }

    .hero1 .container {
        width: 95vw;
        justify-content: end;
        margin: 10vh auto;
    }

    .hero1 .content {
        height: 100vh;
    }

    .hero1 .foto img {
        margin-left: 0vw;
        height: 90vh;
    }

    .cta-hero {
        position: relative;
        bottom: auto;

    }

    .hero1 .subheading {
        color: var(--grey1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }




    /* End Hero */


    /* About */


    .about .container {
        grid-template-columns: 100%;
        max-width: 90vw;
    }

    .about .tittle h4 {
        display: flex;
        width: 100%;
    }

    .about .tittle span {
        display: flex;
        margin-left: 8px;
    }

    .about .tittle hr {
        height: 2px;
        flex-grow: 0.80;
        margin-left: 12px;
    }

    .hero1 .foto .gradasi-foto {
        height: 200px;
    }

    .hero1 .foto img {
        margin-left: 5vw;
        height: 100vh;
    }



    /* End About */

    section {
        background-color: var(--hitam);
        cursor: pointer;
        color: var(--putih);
        margin: 4vh 1vw;
    }





    /* Service */
    .service .container {
        grid-template-columns: 100%;
    }

    .service .konten {
        grid-template-columns: 100%;
    }

    .card-service {
        width: 100%;
    }

    /* End Service */




    /* Tools */
    .tools .container {
        grid-template-columns: 100%;
    }

    .tools .konten {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1vh;
    }

    .tools .card {
        height: 135px;
    }

    /* End Tools */


    /* Message */
    .message .container {
        grid-template-columns: 100%;
    }

    .message .tittle {
        grid-template-columns: 100%;
    }

    .input,
    textarea {
        width: 80vw;
    }

    /* End Message */

}





@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Hero */

    .hero1 .container {
        background-position: left 20vw bottom;
    }


    .hero1 .subheading {
        margin: 6px auto;
    }



    /* End Hero */








    /* Tentang Saya */

    .about {
        width: 94%;
    }

    .vector-toggle-a,
    .vector-toggle-b {
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: var(--hitam);
    }

    /* End Tentang Saya */


    /* Services */
    .service {
        width: 94%;
    }

    /* End Services */

    /* Tools */
    .tools {
        width: 94%;
    }

    /* End Tools */


    /* Message */

    /* End Message */
}