:root {
    --putih: #D6D5DB;
    --hitam: #050406;
    --hitam75: #444344;
    --hitam50: #828183;
    --hitam25: #C1C0C1;
    --bg: #CDCDCD;
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    p {
        font-family: 'Helvetica Now Display';
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.02em;

        margin: 0px;

    }


    h1 {

        font-family: 'Helvetica Now Display';
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.01em;


        margin: 0px;

    }

    h2 {
        font-family: 'Helvetica Now Display';
        font-size: 1.56rem;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.02em;
        margin: 0px;
    }

    h3 {

        font-family: 'Helvetica Now Display';
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.02em;
        margin: 0px;
    }


    h4 {
        font-family: 'Helvetica Now Display';
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.02em;
        margin: 0px;
    }

    h5 {
        font-family: 'Helvetica Now Display';
        font-size: 3rem;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        margin: 0px;

    }

    h6 {

        font-family: 'Helvetica Now Display';
        font-size: 61px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.03em;


        margin: 0px;
    }

    p small {
        font-family: 'Helvetica Now Display';
        font-size: 0.9 rem;
        font-weight: 800;
        line-height: 10px;
        letter-spacing: 0em;
        margin: 0px;
    }

    /* Nav */
    nav .my-logo {
        font-size: 18px;
        font-weight: 600;
    }

    /* End Nav */

    /* Hero */
    .hero1 .container {
        background-position: center bottom;
        background-size: 90vh;
        padding-left: 6vw;
    }


    .hero1 .content {
        justify-content: space-between;
        height: 100vh;

    }

    /* Hero */
    .hero1 h3 {
        font-family: 'Helvetica Now Display';
        font-size: 31px;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: -0.02em;

    }


    /* End Hero */


    /* About */

    .about .container {
        grid-template-columns: 100%;
    }

    /* End About */

    section {
        background-color: var(--hitam);
        cursor: pointer;
        color: var(--putih);
        margin: 4vh 1vw;
    }

    /* Service */
    .service .container {
        grid-template-columns: 100%;
    }

    .service .konten {
        grid-template-columns: 100%;
    }

    /* End Service */


    /* Tools */
    .tools .container {
        grid-template-columns: 100%;
    }

    .tools .konten {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1vh;
    }

    .tools .card {
        height: 135px;
    }

    /* End Tools */


    /* Message */
    .message .container {
        grid-template-columns: 100%;
    }

    .message .tittle {
        grid-template-columns: 100%;
    }

    .input,
    textarea {
        width: 80vw;
    }

    /* End Message */

}





@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Hero */

    .hero1 .container {
        background-position: left 20vw bottom;
    }


    .hero1 .subheading {
        margin: 6px auto;
    }



    /* End Hero */








    /* Tentang Saya */

    .about {
        width: 94%;
    }

    .vector-toggle-a,
    .vector-toggle-b {
        position: absolute;
        height: 2px;
        width: 16px;
        background-color: var(--hitam);
    }

    /* End Tentang Saya */


    /* Services */
    .service {
        width: 94%;
    }

    /* End Services */

    /* Tools */
    .tools {
        width: 94%;
    }

    /* End Tools */


    /* Message */

    /* End Message */
}