:root {

    --beg: #030303;
    --putih: #fff;
    --grey1: #FFFFFFBF;
    --grey2: #8080809F;
    --grey3: rgba(128, 128, 128, 0.5);
    --grey5: rgba(128, 128, 128, 0.25);
    --grey6: rgba(128, 128, 128, 0.08);
    --null: #fe000054;


}

/* html {
    scroll-snap-type: y mandatory;

} */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: pointer;
}


section {
    scroll-snap-align: start;
    transition: 2s ease;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--hitam);
}

::-webkit-scrollbar-thumb {
    background-color: #7f7d7418;
    border-radius: 100px;
    transition: 2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hitam50);
    transition: 2s ease;
}


/* GENERAL */


button {
    background-color: var(--putih2);
    width: fit-content;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 100px;
    border: solid 1px var(--putih15);
    display: flex;
    align-items: center;
    color: var(--putih50);
    transition: ease 1s;
}

button:hover {
    color: var(--hitam);
    background-color: var(--kuning);
    transition: ease 1s;
}

button:hover img {
    margin-left: 20px;
    color: var(--hitam);
    filter: none;
    transition: ease 1s;
}

.tombol {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 1;
}

.tombol-2 {
    height: fit-content;
    padding: 10px 12px;
    border: 1px;
    border-radius: 8px;
    background-color: var(--putih5);
}

a,
li {
    text-decoration: none;
    list-style: none;
}

hr {
    border: none;
}

.cta-hero {
    transition: 1s ease;
    font-family: 'Helvetica Now Display';
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.035em;

    width: fit-content;
    color: var(--putih);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cta-hero .panah {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 14px;
    height: 64px;
    width: 64px;
}

.cta-hero .panah::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0px;

}

.cta-hero:hover {
    scale: 105%;
}

.cta-hero:hover .panah::before {
    height: 64px;
    width: 64px;
    border: 2px solid var(--putih);
    color: var(--putih);
}


.cta-hero img {
    height: 50px;
    width: 50px;
    padding: 12px;
    background-color: var(--grey1);
    border-radius: 50%;
}




/* END GENERAL */


body {
    background-color: var(--beg);
    margin: 0 auto;
    overflow-x: hidden;
    position: 0px
}



/* Sidebar */

.ikon {
    padding: 20px 8px;
    transition: 1s ease;
}

.ikon:hover {
    rotate: 180deg;
    transition: 0.75s ease;
}

.sidebar {
    overflow: hidden;
    margin-left: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    height: 100vh;
    z-index: 3;
    white-space: nowrap;
}

.sidebar .container {
    position: fixed;
    background-color: var(--putih);
    width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
    margin: 0 auto;
    left: 0;
    transition: ease 1s;
}

.sidebar .konten {
    padding: 80px;
    width: 70%;
    height: 80%;
    overflow: hidden;
    transition: ease 1s;
}

.konten-sidebar {
    margin-top: 60px;
    overflow: hidden;
    transition: ease 1s;
}

.konten-sidebar hr {
    border: none;
    height: 1px;
    background-color: var(--hitam);
}

.sidebar a {
    color: var(--hitam);
}


.sidebar-item {
    gap: 40px;
    margin: 20px auto;
    display: flex;
    align-items: top;
    text-decoration: none;
    transition: ease 1s;
}




#keluar {
    margin-right: 80px;
    margin-left: 80px;
    height: 40px;
}

/* End Sidebar */






/* my-Nav */
.navbar {
    position: fixed;
    z-index: 9;
    width: 100%;
    margin: 0 auto;
    background-color: #0c0c0c63;
    backdrop-filter: blur(10px);
    margin: -28px auto;
}

.mynav {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: -20px 2vw 0px 2vw;
}

.logo-nav {
    gap: 8px;
    display: flex;
    align-items: center;
}

.logo-nav img {
    width: 40px;
}


nav .my-logo {
    font-family: 'Helvetica Now Display';
    font-size: 21px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: var(--putih);

}

nav .logo-nav .bintang {
    animation: rotate 10s linear infinite;
}

/* End my-Nav */




/* MyHero */



.hero1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: end;

}


.hero1 .container {
    z-index: 1;
    position: relative;
    color: var(--putih);
    margin: 15vh auto;
    width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 50%;

}


.hero1 .subheading {
    color: var(--putih);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}

.hero1 hr {
    background-color: var(--putih);
    height: 2px;
    margin-left: 20px;
    flex-grow: 1;
}


.hero1 .foto {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0 auto;
}

.hero1 .foto img {
    margin-left: 30vw;
    height: 90vh;
}

.bg-hero1 .blur1 {
    position: absolute;
    top: 5%;
    left: -20%;
    background-color: #ffffff33;
    border-radius: 50%;
    width: 75vh;
    height: 75vh;
    filter: blur(250px);
}

.bg-hero1 .blur2 {
    position: absolute;
    top: -35%;
    right: -25%;
    background-color: #f3f3f320;
    border-radius: 50%;
    width: 75vh;
    height: 75vh;
    filter: blur(200px);
}

/* End Hero */





/* Tentang Saya */

.about .menu-about {
    transition: 0.5s ease;
    color: var(--putih);
    margin-left: 2vw;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 25vh;
    font-family: 'Helvetica Now Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.01em;

}

.menu-about a {
    margin: 2px 0;
}


.about {
    position: relative;
    padding: 160px 0;
}



.about .container {
    z-index: 9;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 14%;
    grid-row-gap: 40px;


}

.about .konten {
    grid-row: span 5;
}

.about .tittle {
    color: var(--putih);
    position: sticky;
    top: 80px;
}

.about .tittle span {
    flex-grow: 1;
    display: flex;
}

.about .tittle hr {
    height: 4px;
    margin-left: 20px;
    flex-grow: 0.5;
    background-color: var(--putih);
}

.about .text {
    margin: 20px 0;
}

.about .konten hr {
    background-color: var(--grey6);
    height: 2px;
}

.panel {
    color: var(--grey1);
    margin-top: 16px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.about .heading-text {
    color: var(--putih);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.icon-toggle {
    width: 18px;
    height: 18px;
    align-items: center;
    display: flex;
    transition: 0.5s ease-in-out;
}

.active .icon-toggle {
    rotate: 90deg;
    transition: 0.5s ease;
}


.active .vector-toggle-a {
    opacity: 0;
    transition: 0.5s ease;
}

.vector-toggle-a {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: var(--grey2);
}

.vector-toggle-b {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: var(--grey2);
    rotate: 90deg;
}

.about button {
    margin-top: 40px;
}

/* End Tentang Saya */






/* Services */

.service {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    position: relative;
}


.service .container {
    z-index: 9;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 14%;
    grid-row-gap: 40px;

}

.service .konten {
    grid-row: span 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.tombol-card {
    background-color: var(--grey6);
    color: var(--gray1);
    display: flex;
    width: fit-content;
    transition: 0.75s;
    margin: 0 auto;
    padding: 10px 16px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}



.tombol-card img {
    margin-left: 10px;
    transition: 0.75s;
}




.service .tittle {
    color: var(--putih);
}

.service h4 {
    display: flex;
}


.service h4 hr {
    height: 4px;
    margin-left: 20px;
    flex-grow: 0.5;
    background-color: var(--putih);
}

.card-service {
    background-color: var(--grey6);
    padding: 40px 34px;
    border-radius: 16px;
    width: calc(50% - 16px);
    margin: 16px 0;
}

.card-service p {
    margin: 18px auto;
    color: var(--grey1);
}

.card-service h1 {
    color: var(--putih);
}

.service .cta p {
    color: var(--grey1);
}

.service button {
    margin: 40px auto;
}


/* End Services */







/* Tools */
.tools {
    display: flex;
    justify-content: center;
    margin-left: 80px auto;
    color: var(--putih);

}



.tools .container {
    max-width: 1200px;
    display: grid;
    grid-auto-flow: row;
}

.tools .konten {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 80px auto;
}

.tools .tittle {
    color: var(--putih);

}

.tools h4 {
    display: flex;
}

.tools h4 hr {

    height: 4px;
    margin-left: 20px;
    flex-grow: 1;
    background-color: var(--putih);
}

.tools .konten .card {
    margin: 12px;
    background-color: var(--grey6);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 12px;
    padding-top: 24px;
    width: 160px;
    height: 180px;
}

.card hr {
    height: 1px;
    background-color: var(--grey6);
}

.card .xtra-small {
    color: var(--grey3);
}


.tools button {
    margin: 40px 0;
}





.tools .cta {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* End Tools */



/* Portfolio */
.portfolio {
    display: flex;
    justify-content: center;
    color: var(--putih);
}

.portfolio .container {
    margin: 0 auto;
    max-width: 1200px;
    color: var(--putih);

}

.portfolio .konten {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    margin: 60px auto;
}

.portfolio .card {
    border-radius: 8px;
    margin: 12px auto;
    size: 20px;
}

.portfolio .card img {
    size: cover;
}

/* End Portfolio */






/* MESSAGE */

.message .container {
    margin: 8vh 4vw;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
}

.message .tittle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message .konten {
    grid-row: span 5;
    display: grid;
    column-gap: 1vw;
    row-gap: 8px;
}

.input,
textarea {
    font-family: 'Helvetica Now Display';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding: 10px 10px 10px 16px;
    color: var(--hitam);
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    outline: none;
    transition: all 1.5s ease;
    box-shadow: 0px 0px 20px -18px;
}

input::placeholder,
textarea::placeholder {
    color: var(--hitam);
}

.input:active {
    transform: scale(0.95);
    transition: 1s ease;
}

.input:focus {
    border: 2px solid var(--hitam);
}

.message button {
    margin-top: 8px;
}

.message p {
    font-size: 16px;
}

/* END MESSAGE */


/* hr {
    background-color: var(--putih5);
}
 */

.hapus {
    height: 100vh;
    background-color: white;
}






/* Menu Halaman */



.menu-halaman * {
    transition: 0.5s;
}

.menu-halaman {
    width: fit-content;
    z-index: 8;
    position: fixed;
    right: 0%;
    bottom: 50%;
}

.navigasi {
    width: 8vw;
}

.container-menu-halaman {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navigasi a {
    font-family: 'Helvetica Now Display';
    font-size: 27px;
    font-weight: 700;
    line-height: 0%;
    color: var(--grey2);
}

.navigasi hr {
    content: '';
    flex-grow: 1;
    height: 2px;
    background-color: var(--grey2);
    transform: scaleX(0.001);
    transform-origin: right;
}


.navigasi .line-halaman hr {
    margin-left: 12px;
    transform: scaleX(1);
}


.menu-halaman .titik {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--grey2);
    margin-left: 24px;
    opacity: 0;
    scale: 0%;
}

.menu-halaman .line-halaman .titik {
    opacity: 100;
    scale: 100%;
}

.navigasi .garet-a {
    color: var(--putih);
    position: absolute;
    transform: translate(-18px, 25px);
    opacity: 0;

}

.navigasi .line-halaman .garet-a {
    position: absolute;
    transform: translate(-18px, 0px);
    opacity: 100;
}

.navigasi .garet-b {
    color: var(--putih);
    position: absolute;
    transform: translate(0px, -25px);
    opacity: 0;

}

.navigasi .line-halaman .garet-b {
    transform: translate(0px, 0px);
    opacity: 100;


}

/* -------------------------
End Menu Halaman
------------------------- */


/* Menu Kiri */

.menu-kiri {
    z-index: 9;
    position: fixed;
    left: 2vw;
    transform: translateY(50vh);
}

.menu-kiri img {
    rotate: 180deg;
}

/* End Menu Kiri */