.asset {
    background-color: #8a8a8a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tombol-menu {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060508;
    border-radius: 50%;
    transition: all 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.vector-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.5px;
    height: 0.5px;
    background-color: #060508;
    padding: 4px;
    border-radius: 50%;
    transition: all 0.5s;
}

.vector-txt img {
    animation: rotate 10s linear infinite;
    height: 100px;
    width: 100px;
    transition: all 0.5s;
    filter: invert(87%) sepia(17%) saturate(314%) hue-rotate(343deg) brightness(112%) contrast(95%);
}

.vector {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

.vector-a {
    display: flex;
    height: 7px;
    margin: 3px;
    width: 40px;
    background-color: #F9F6E0;
    border-radius: 4px;
    transition: all 0.5s;
}


.tombol-menu:hover {
    scale: 120%;
    transition: all s;
    background-color: #fff;
}

.tombol-menu:hover .vector-a {
    height: 5px;
    /*     margin: 1px; */
    background-color: #060508;
    transition: all 0.5s;
}

.tombol-menu:hover .vector-txt {
    border: 2px solid #F9F6E0;
    background-color: #F9F6E0;
    width: 130px;
    height: 110px;
    border-radius: 50%;
    transition: all 0.5s;
}

.tombol-menu:hover .vector-txt img {
    animation: rotate 10s linear infinite;
    filter: invert(0%) sepia(3%) saturate(7487%) hue-rotate(131deg) brightness(95%) contrast(103%);


}

.tombol-menu:hover .vector {
    rotate: 180deg;
}

.tombol {
    scale: 120%;
}